In [69]:
# Import all libraries


import pandas as pd


# Import data from xls
og_df = pd.read_excel('GSAF5.xls')

print(og_df.shape)
print(og_df.head(5))

df = og_df.copy()
df.columns = df.columns.str.replace(' ', '')
print(df.columns)

(6969, 23)
          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

   ...        Species                      Source  pdf href formula href  \
0  ...     Tiger shark      Yahoo News, 3/15/2024  NaN          NaN  NaN
1  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN          NaN  NaN
2  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN          NaN  NaN
3  ...     Tiger shark        WA Today, 2/26/2024  NaN          NaN  NaN
4  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed:11', 'Time', 'Species',
       'Source', 'pdf', 'hrefformula', 'href', 'CaseNumber', 'CaseNumber.1',
       'originalorder', 'Unnamed:21', 'Unnamed:22'],
      dtype='object')

In [70]:
#this columns don't seem to hold relevant information for this project
df.drop(columns=['Unnamed:21'], inplace=True)
df.drop(columns=['Unnamed:22'], inplace=True)
df.drop(columns=['Unnamed:11'], inplace=True)

In [71]:
df.drop_duplicates(inplace=True)
df.dropna(axis=0, inplace=True)

In [95]:
for index, row in df.iterrows():
    if row["CaseNumber"] != row["CaseNumber.1"]:
        print(row["CaseNumber"], " - ", row["CaseNumber.1"])

#Maybe we can drop both columns as I don't think they hold relevant information and have some mismatched information (typos/incorrect format)

2022.01.06.R  -  2022,91,06.R
2021.01.22.a  -  2021.01.22
201810.19.a  -  2018.10.19.a
2018.09.27  -  2018.08.27
2018.04.02  -  2018.04.03
2017/07.20.a  -  2017.07.20.a
2015.11.07  -  2015.12.23