In [190]:
# Import all libraries


import pandas as pd


# Import data from xls
og_df = pd.read_excel('GSAF5.xls')

# Check for basic shape and some values
print(og_df.shape)
print(og_df.head(5))

#Let's create a copy to work with and rename columns
df = og_df.copy()
df.columns = df.columns.str.replace(' ', '')
print(df.columns)

(6969, 23)
          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

   ...        Species                      Source  pdf href formula href  \
0  ...     Tiger shark      Yahoo News, 3/15/2024  NaN          NaN  NaN
1  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN          NaN  NaN
2  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN          NaN  NaN
3  ...     Tiger shark        WA Today, 2/26/2024  NaN          NaN  NaN
4  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed:11', 'Time', 'Species',
       'Source', 'pdf', 'hrefformula', 'href', 'CaseNumber', 'CaseNumber.1',
       'originalorder', 'Unnamed:21', 'Unnamed:22'],
      dtype='object')

In [191]:
#this columns don't seem to hold relevant information for this project
df.drop(columns=['Unnamed:21'], inplace=True)
df.drop(columns=['Unnamed:22'], inplace=True)
df.drop(columns=['Unnamed:11'], inplace=True)

In [192]:
#Let's drop duplicates and missing values
print(df.isnull().sum())

print(df.drop_duplicates(inplace=True))

df.dropna(subset=["Date"],axis=0,inplace=True)

Date               25
Year               27
Type               43
Country            75
State             507
Location          590
Activity          611
Name              245
Sex               604
Age              3019
Injury             60
Time             3551
Species          3157
Source             44
pdf               170
hrefformula       150
href              173
CaseNumber        171
CaseNumber.1      172
originalorder     170
dtype: int64
None

In [193]:
print("Before\n", df.eq(" ").sum())
df = df[df!= " "] #Very low number of spaces so we can drop this outliers
print("After\n", df.eq(" ").sum())

Before
 Date             0
Year             0
Type             0
Country          0
State            0
Location         0
Activity         1
Name             0
Sex              0
Age              2
Injury           1
Time             2
Species          7
Source           0
pdf              0
hrefformula      0
href             0
CaseNumber       0
CaseNumber.1     0
originalorder    0
dtype: int64
After
 Date             0
Year             0
Type             0
Country          0
State            0
Location         0
Activity         0
Name             0
Sex              0
Age              0
Injury           0
Time             0
Species          0
Source           0
pdf              0
hrefformula      0
href             0
CaseNumber       0
CaseNumber.1     0
originalorder    0
dtype: int64

In [194]:
for index, row in df.iterrows():
    if row["CaseNumber"] != row["CaseNumber.1"]:
        print(row["CaseNumber"], " - ", row["CaseNumber.1"])

#TODO Maybe we can drop both columns as I don't think they hold relevant information and have some mismatched information (typos/incorrect format)

nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
nan  -  nan
2022.07.28  -  2022.7.28
2022,94,39  -  2022.04.30
2022,04.17  -  2022.04.17
2022.04.1.2  -  2022.04.12
2022.03.15.c  -  nan
2022.03.15.b  -  2022.03.15
nan  -  nan
2022.01.06.R  -  2022,91,06.R
2021.12.06.r  -  2021.12.06.R
2021.10.16  -  2021.10.15
2021.10.03.b  -  2021.10.04.b
2021. 08.21  -  2021.08.21
2021..08.07.b  -  2021.08.07.b
2021.08.07.a  -  2021..08.07.a
2021.02.20  -  2021.02.21
2021.01.22.a  -  2021.01.22
2020.12.02  -  2020.12.06
nan  -  nan
nan  -  nan
201810.19.a  -  2018.10.19.a
2018.09.27  -  2018.08.27
2018.07.11.a  -  2018.07.13.a
2018.04.02  -  2018.04.03
nan  -  nan
2017/07.20.a  -  2017.07.20.a
2017.06.06  -  2017.05.06
2016.09.16  -  2016.09.15
2015.01.24.b  -  2016.01.24.b
2015.11.07  -  2015.12.23
2015.10.28  -  2015.10.28.a
2013.05.04  -  2014.05.04
1994.12.09.c  -  1994.1.2.09.c
1974.12.21  -  1974.21.21
k  -  1971.04.05.b
1967/07.05  -  1967.07.05
1962.08.30.b  -  1962,08.30.b
1961.09,06.R  -  1961.09.02.R
1952.08.04  -  1952.08.05
1951.12.15.R  -  1851.12.15.R
nan  -  nan
1919.00.00.R  -  1900.00.00.R
1913.17.10.R  -  1913.07.10.R
1911.07.31.T  -  1911.07.31.R
1884.04.28.R  -  1884.04.38.R
1874.06.18.R  -  1876.06.18.R
1853.04.29  -  1853,94.29
1808.05.01.R  -  1808.06.01.R
nan  -  nan
nan  -  nan
5BC-Australia  -  5BC
214BC-Tharsus  -  214BC
336BC-Csrnathus  -  336BC
493BC-PersianFleet  -  493BC
725BC-vase  -  725/BC
1010BC-Japan  -  1010BC
4000.BC-Peru  -  4000BC
ND-0157  -  ND-157

In [195]:
#Country , State , Location - We really only need one of these to identify the place, so lets drop all that have all 3 missing
print(df.shape)
df = df[df!= " "]
df = df[(df["State"].isna()==False) | (df["Country"].isna()==False) | (df["Location"].isna()==False)] #Removes all True|True|True which have na/na/na as the location
print(df.shape)

(6944, 20)
(6915, 20)